@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tertiary: #d6522d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -0.01em;
}

.text-h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.0075em;
}

.text-h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.006em;
}

.text-h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.005em;
}

.text-large {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}

.text-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

.text-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

.text-p-ui {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.text-p-ui-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.text-p-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.text-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.text-body-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.text-subtle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.text-subtle-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.text-subtle-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.text-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
}

.text-detail {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.text-blockquote {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  letter-spacing: 0;
}

.text-table-head {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.text-table-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}
